<%= image_tag @puzzle.file_name, width: @puzzle.width, height: @puzzle.height, id: @puzzle.cssid, class: 'waldoImage fitted' %>

<div class='sidebar'>
  <button data-char='Waldo'><p>Waldo</p><%= image_tag "waldo_face.png", class: 'face_button'%></button><br>
  <button data-char='Wenda'><p>Wenda</p><%= image_tag "wenda_face.png", class: 'face_button'%></button><br>
  <button data-char='Wizard'><p>Wizard</p><%= image_tag "wizard_face.png", class: 'face_button'%></button><br>
  <button data-char='Woof'><p>Woof</p><%= image_tag "woof_face.png", class: 'face_button'%></button><br>
  <button data-char='Odlaw'><p>Odlaw</p><%= image_tag "odlaw_face.png", class: 'face_button'%></button><br>
  <button data-char='Watcher'><p>Watcher</p><%= image_tag "watcher_face.png", class: 'face_button'%></button><br>
  <button data-char='Scroll'><p>Scroll</p><%= image_tag "scroll.png", class: 'face_button'%></button><br>
  <button data-char='Key'><p>Key</p><%= image_tag "key.png", class: 'face_button'%></button><br>
  <button data-char='Bone'><p>Bone</p><%= image_tag "bone.png", class: 'face_button'%></button><br>
  <button data-char='Camera'><p>Camera</p><%= image_tag "camera.png", class: 'face_button'%></button><br>
  <button data-char='Binoculars'><p>Binoculars</p><%= image_tag "binoculars.png", class: 'face_button'%></button><br>
</div>