<%= image_tag @puzzle.file_name, width: @puzzle.width, height: @puzzle.height, id: @puzzle.cssid, class: 'waldoImage fitted' %>

<div class='sidebar'>
  <button value='waldo'><p>Waldo</p><%= image_tag "waldo_face.png", class: 'face_button'%></button><br>
  <button value='wenda'><p>Wenda</p><%= image_tag "wenda_face.png", class: 'face_button'%></button><br>
  <button value='wizard'><p>Wizard</p><%= image_tag "wizard_face.png", class: 'face_button'%></button><br>
  <button value='woof'><p>Woof</p><%= image_tag "woof_face.png", class: 'face_button'%></button><br>
  <button value='odlaw'><p>Odlaw</p><%= image_tag "odlaw_face.png", class: 'face_button'%></button><br>
  <button value='watcher'><p>Watcher</p><%= image_tag "watcher_face.png", class: 'face_button'%></button><br>
  <button value='scroll'><p>Scroll</p><%= image_tag "scroll.png", class: 'face_button'%></button><br>
  <button value='key'><p>Key</p><%= image_tag "key.png", class: 'face_button'%></button><br>
  <button value='bone'><p>Bone</p><%= image_tag "bone.png", class: 'face_button'%></button><br>
  <button value='camera'><p>Camera</p><%= image_tag "camera.png", class: 'face_button'%></button><br>
  <button value='binoculars'><p>Binoculars</p><%= image_tag "binoculars.png", class: 'face_button'%></button><br>
</div>